@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  /* Banner */
  --banner-outer-height: 55px;
  --banner-inner-height: 40px;
  --banner-bg: #DDC3BA;

  /* Header */
  --header-outer-height: 110px;
  --header-inner-height: 70px;
  --header-height-difference: calc(
          var(--header-outer-height) - var(--header-inner-height)
  );
  --header-bg: #FFF;
  --primary-color: #000;
}
a {
  color: #A8A8AC;
}
body {
  color: #A8A8AC;
}
