.image {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/image3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  bottom;
    background-size: 100% 100%;
}

.owner {
    background: var(--primary-color);
    padding: 10px 30px 50px 10px;
    margin-top: 20px;
    color: #FFFFFF;
}

.ownerImage {
    height: auto;
    width: 100%;
}